html {
  font-family: 'Montserrat', sans-serif;
}


ul {
  list-style: none;
}

.column {
  float: left;
  width: 50%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.barraProgresso {
	height: 30px;
	width: 500px;
  border: 1px solid black;
  margin-left: 80px
}

.texto {
  text-align: center
}

.btnArea {
  padding: 10px;
  text-align: center;
}

.iniciar {
  background-color: #4253af;
  color: #fff;
}

.progresso {
	background-color: green;
	height: 100%
}

.ataque {
  background-color: #e51c23;
  color: #fff;
}

.especial {
  background-color: #ff9800;
  color: #000;
}

.curar {
  background-color: #259b24;
  color: #FFF;
}

.desistir {
  background-color: #BBB;
  color: #000;
}

.logArea {
  padding: 10px;
  text-align: center;
}

.logArea ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.logs ul li {
  display: flex;
  justify-content: center;
  margin: 4px 0px;
  padding: 3px 0px;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 3px;
}

.usuario {
  background-color: #4253afaa;
    color: #fff;
}

.monstro {
  background-color: #e51c23aa;
    color: #fff;
}
